#########################################################################################
#                                                                                       #
#                                                                                       #
# Configuration file for the ASIC Design II Project                                     #
# Authored by Matthew D'Angeli                                                          #
#                                                                                       #
#                                                                                       #
#########################################################################################
# Project-level parameters                                                              #
#########################################################################################

## Directory Locations
export PDK_LOCATION='/mnt/class_data/ecec574-w2019/PDKs/SAED32nm_new/SAED32_EDK'
export OPENSPARC_LOCATION='/mnt/class_data/ecec574-w2019/OpenSPARC_src/trunk'

## Target Corner and Device Thresholds
export VOLTAGE_THRESHOLD='rvt' # lvt {fast, high-power}, rvt, hvt {slow, low-power}
export TARGET_CORNER_SPEED='ss' # slow=ss, fast=ff, typical=tt
export TARGET_CORNER_TEMP='25c' # Temperature in Celcius (125c, 25c, n40c)

## Path count
export MAX_PATHS='100'

#########################################################################################
# Design Compiler Synthesis paramters                                                   #
#########################################################################################

## Compiler Flags (If using compile_ultra, just leave these alone)
export AREA_EFFORT='medium' # (high, medium, low)
export POWER_EFFORT='medium' # (high, medium, low)
export MAP_EFFORT='medium' # (high, medium, low)

## Use Compile Ultra + flags
export COMPILE_ULTRA='TRUE' # TRUE or FALSE; do you want to use compile_ultra?
export CU_FLAGS='-gate_clock'

## Clock constraints
export CLK_PERIOD='1000' # ns
export CLK_LATENCY='0.1' # ns
export CLK_TRANSITION='0.05' # ns
export CLK_UNCERTAINTY='0.05' # ns
export INPUT_DELAY='2.0' # ns
export OUTPUT_DELAY='2.0' # ns

## Effort constraints
export MAX_AREA='0' # sq. um
export MAX_LOAD='0.3'

#########################################################################################
#                        DO NOT MODIFY ANYTHING BELOW THIS LINE                         #
#########################################################################################
case "$TARGET_CORNER_SPEED" in
   "ss")
      export TARGET_CORNER_VOLTAGE="0p95v"
      ;;
   "ff")
      export TARGET_CORNER_VOLTAGE="1p16v"
      ;;
   "tt")
      export TARGET_CORNER_VOLTAGE="1p05v"
      ;;
   *)
      exit
      ;;
esac

export TARGET_CORNER="$TARGET_CORNER_SPEED$TARGET_CORNER_VOLTAGE$TARGET_CORNER_TEMP"

